.header {
  display: flex;
  align-items: center;
}

.header p {
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 1.9%;
}

.title {
  margin: 0;
  font-size: 20px;
  /* font-family: var(--primary-font); */
  margin-bottom: 2%;
}

.grid {
  grid-template-columns: repeat(2, 47.5%);
  grid-template-rows: repeat(3, 70px);
  align-items: flex-end;
}

.input {
  margin-top: 5px;
  border-radius: 0.25rem;
  width: 100%;
  height: 38px;
  border-width: 2px;
  border-color: black;
  font-family: var(--secondary-font);
  padding-left: 5px;
  -webkit-appearance: none;
  background-color: white;
  color: black;
}

.submitContainer {
  display: flex;
  margin: 0;

}

.submit {
  border-width: 2px;
  border-color: black;
  margin: 0;
  width: 50%;
  max-width: 100px;
  height: 38px;
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 0px;
  color: black;
  font-family: var(--secondary-color);
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.5s;
  margin-top: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inputText {
  width: 100%;
  height: 80px;
  background-color: white;
  border-radius: 0.25rem;
  margin-top: 5px;
  padding-left: 5px;
  align-items: flex-start;
  border-width: 2px;
  border-color: black;
}

.submit:hover {
  border: 2px solid white;
  background-color: #00000000;
  color: white;
}

.submitActive {
  border: none;
  margin: 0;
  width: 50%;
  max-width: 100px;
  height: 38px;
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 0px;
  color: black;
  font-family: var(--secondary-color);
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.5s;
  margin-top: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sendInfo {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .title {
    font-size: 20px;
  }

  .header {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .header p {
    margin-left: 0;
    margin-top: 0px;
    font-size: 11px;
  }

  .doubleInput {
    font-size: 12px;
  }
}