---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projekte">
    <main class="grid md:grid-cols-2 gap-5 w-full mt-10">
        <ProjectCard
            title="Weingarten Maikammer"
            body="Ein schönes Restaurant in Maikammer. Der Weingarten zaubert mit tollem Essen und guten Weinen einen wunderschönen Abend."
            img="weingarten.png"
            link="https://weingarten-maikammer.de"
        />
        <ProjectCard
            title="Weinbergsrundfahrt Heilweck"
            body="Eine Rundfahrt mit dem Planwagen führt Sie aus dem idyllischen Maikammer heraus in die Weinberge. Während der Fahrt können Sie Weine genießen."
            img="heilweck.png"
            link="https://planwagen-heilweck.de"
        />
        <ProjectCard
            title="Eiscafé Bellini"
            body="Auf einer schönen Sonnenterrasse können Sie in aller Ruhe ihre Seele baumeln lassen und Eis-, Kaffee- und Weinspezialitäten genießen."
            img="bellini.png"
            link="https://cafebellini.de"
        />
        <ProjectCard
            title="Weingut Herty"
            body="Im familiengeführten Weingut Herty können Sie die Pfalz in Form von leckeren Weinen nicht nur schmecken, sondern auch erleben."
            img="herty.png"
            link="https://weingut-herty.de"
        />
        <ProjectCard
            title="Café Engert"
            body="Am goldenen Eck in Edenkoben können Sie in einem tollen Ambiente selbstgemachtes Eis und Torten genießen."
            img="engert.png"
            link="https://engert-cafe.com"
        />
        <ProjectCard
            title="Mythos Maikammer"
            body="Ein griechisches Restaurant ganz nach Tradition. Leckere Speisen und Gastfreundschaft erwartet Sie im Myhtos Maikammer."
            img="mythos.png"
            link="https://mythos-maikammer.de"
        />
    </main>
</Layout>
