---
export interface Props {
	title: string;
	body: string;
	img: string;
}

const { img, title, body } = Astro.props;
---

<div
	class="link-card flex sm:flex-col sm:min-h-[280px] justify-around items-center p-2 sm:p-2 text-center border-2 border-black"
>
	<img class="w-[80px] sm:w-[120px] object-contain" src={`${img}`} alt={`${img}`} />
	<div class="w-8/12 sm:w-full">
		<h2>
			{title}
		</h2>
		<p>
			{body}
		</p>
	</div>
</div>
<style>
	.link-card {
		list-style: none;
		display: flex;
		background-color: white;
		border-radius: 0.25rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	/* .link-card > div {
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	} */
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: rgb(30, 30, 30);
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
</style>
