<br />
<div class="flex items-center">
    <hr class="h-full px-3 ml-auto mr-8 border-black border-[1px] rounded" />
    <img class="h-7 rotate-90" src="Logo.svg" alt="Logo" />
    <hr class="h-full px-3 mr-auto ml-8 border-black border-[1px] rounded" />
</div>
<br />