---
import "../styles/global.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex mt-5 mx-5 items-center">
			<div class="flex">
				<a href="/"
					><img
						class="h-10 fixed hover:scale-110 hover:cursor-pointer"
						src="/Logo.png"
						alt="Logo"
					/>
				</a>
				<img class="h-10 ml-8" src="/ionaeLogo.png" alt="Logo" />
			</div>

			<div
				class="hidden lg:flex fixed left-1/2 -translate-x-1/2 bg-white rounded-full shadow-own"
			>
				<nav class="flex w-[500px] h-10 items-center justify-evenly">
					<a class="hidden lg:flex" href="/#Me">Über mich</a>
					<a class="hidden lg:flex" href="/Projekte">Projekte</a>
					<a class="hidden lg:flex" href="/#Kontakt">Kontakt</a>
				</nav>
			</div>
		</div>

		<input class="side-menu" type="checkbox" id="side-menu" />
		<label class="hamb" for="side-menu"
			><span class="hamb-line z-50"></span>
		</label>
		<nav class="nav">
			<ul class="menu font-head text-xl">
				<li>
					<a href="/" onclick="closeMenu()">Home</a>
				</li>
				<li>
					<a href="/Menue" onclick="closeMenu()">Über mich</a>
				</li>
				<li>
					<a href="/#Küche" onclick="closeMenu()">Projekte</a>
				</li>
				<li>
					<a href="/Anlaesse" onclick="closeMenu()">Kontakt</a>
				</li>
			</ul>
		</nav>

		<slot />

		<script is:inline>
			function closeMenu() {
				const checkbox = document.getElementById("side-menu");
				checkbox.checked = !checkbox.checked;
			}
		</script>
		<style is:global>
			html {
				font-family: "Lexend Deca", sans-serif;
				height: 2000px;
				scroll-behavior: smooth;
			}
			.shadow-own {
				box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
					rgba(17, 17, 26, 0.05) 0px 8px 32px;
			}
			:global(html) {
				scroll-behavior: smooth;
			}
			body {
				background-image: radial-gradient(
					circle at 50% 2000px,
					#3788aa7f 30%,
					#3788aa7f 45%,
					#3788aa7f 50%,
					#ffffff 100%
					
				);
			}
		</style>
	</body>
</html>
